.page-contents
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    form 
    {
        div 
        {
            display: flex;
            justify-content: center;
        }
    }
    p
    {
        margin: 5px 0px;
        max-width: 1000px;
    }
}

.button
{
    background-color: #005ea2;
    color: white;
    border-radius: 5px;
    border: 0px;
    width: auto;
    height: 35px;
    p 
    {
        margin: 3px;
        font-size: 13px;
        font-weight: 600;
    }
}
.button:hover
{
    cursor: pointer;
    background-color: #1a3b66;
    
}
#alert-notification
{
    color: red;
    font-size: 20px;
}
.required
{
    font-weight: bold;
}