.page-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  form {
    div {
      display: flex;
      justify-content: center;
    }
  }
  p {
    margin: 5px 0px;
    max-width: 1000px;
  }
}

.button {
  background-color: #005ea2;
  color: white;
  border-radius: 5px;
  border: 0px;
  width: auto;
  height: 35px;
  p {
    margin: 3px;
    font-size: 13px;
    font-weight: 600;
  }
}
.button:hover {
  cursor: pointer;
  background-color: #1a3b66;
}
#alert-notification {
  color: #9e0000;
  font-size: 20px;
}
.required {
  font-weight: bold;
}

//7.A-1.a-pass-1
.important {
  color: #8c0b0b;
}
.warning {
  color: #5b5406;
}

.note-box {
  width: 600px;
  background-color: #ffffff;
  border: solid #d7d7d7;
  padding: 10px;
}

//7.A-1.b-pass-1
.important {
    width: 500px;
  color: #711313;
  font-weight: bold;
  text-decoration: underline;
  margin: 10px 0;

}
.warning {
    width: 500px;
  color: #9a590e;
  font-style: italic;
  border: 2px solid #9a590e;
  padding: 5px;
  margin: 10px 0;
}
.info {
    width: 500px;
  color: #15157b;
  font-size: larger;
  border: 2px solid #15157b;
  padding: 15px;
  margin: 10px 0;
}

.warning-title {
  font-weight: bold;
}

//7.A-1.c-pass-1
.success {
  color: #228b22;
  font-weight: bold;
}
.error {
  color: #b22222;
  font-weight: bold;
}
