.page-contents
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    p
    {
        margin: 5px 0px;
        max-width: 1000px;
    }

    #flash-overlay 
    {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: blue;
        opacity: 0;
        animation: flash 0.3s ease; //3hz equivalent to 333.333 milisecond
        cursor: pointer;
    }
    .button
    {
        cursor: pointer;
        background-color: #005ea2;
        color: white;
        border-radius: 5px;
        border: 0px;
        width: auto;
        height: 35px;
        p 
        {
            margin: 3px;
            font-size: 13px;
            font-weight: 600;
        }
    }
}
@keyframes flash 
{
    0% 
    {
        opacity: 1;
    }
    100% 
    {
        opacity: 0;
    }
}