.page-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.page-contents #timer-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.page-contents #timer-div #timer-button {
  background-color: #005ea2;
  color: white;
  border-radius: 5px;
  border: 0px;
  width: auto;
  height: 35px;
}
.page-contents #timer-div #timer-button p {
  margin: 3px;
  font-size: 13px;
  font-weight: 600;
}
.page-contents #timer-div #timer-button:hover {
  cursor: pointer;
  background-color: #1a3b66;
}
.page-contents p {
  margin: 5px 0px;
  max-width: 1000px;
}
.page-contents #puerto-rico {
  width: 370px;
  height: 250px;
}
.page-contents #puerto-rico-flag {
  width: 250px;
  height: 150px;
}

.button {
  background-color: #005ea2;
  color: white;
  border-radius: 5px;
  border: 0px;
  width: auto;
  height: 35px;
}
.button p {
  margin: 3px;
  font-size: 13px;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  background-color: #1a3b66;
}

.page-contents-sn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: -8px;
  height: 100vh;
}
.page-contents-sn .sidenav-content {
  padding-left: 15px;
}

.sidenav {
  height: 100%;
  width: 300px;
  right: 0;
  top: 0;
  margin-top: -8px;
  position: fixed;
  z-index: 1;
  background-color: #005ea2;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.sidenav button {
  text-align: left;
  padding: 0;
  background-color: transparent;
  border: none;
}
.sidenav a, .sidenav button, .sidenav p {
  cursor: pointer;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.sidenav a:hover {
  background-color: #1a3b66;
}
.sidenav #exit-sidenav {
  align-self: flex-end;
  padding: 0;
  margin-right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.sidenav .dropdown-menu {
  display: flex;
  justify-content: space-between;
}
.sidenav .dropdown-menu .expanded {
  display: none;
}
.sidenav .active .expanded {
  display: block;
}
.sidenav .active .collapsed {
  display: none;
}
.sidenav .dropdown-container {
  flex-direction: column;
}
.sidenav .dropdown-container .dropdown-content {
  padding-left: 30px;
}

.sidenav-hide {
  transform: translateX(100%);
}

.sidenav-display {
  transform: translateX(0%);
}

.dropdown-container {
  display: none;
}

.pass-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 0;
  margin-right: 0;
}
.pass-2 .sidenav-pass-2 {
  position: relative;
  height: 100vh;
}

.slidecontainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hideBorderline {
  outline: none;
}

form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
form div #fname {
  width: 145px;
  height: 15px;
}
form div .input-popup {
  border-radius: 5px;
  padding: 10px 5px;
  background-color: skyblue;
}
form div .popup-hidden {
  display: none;
}/*# sourceMappingURL=TF02.css.map */