<footer class="usa-footer usa-footer--big">
    <div class="usa-footer__secondary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="usa-footer__logo grid-row tablet:grid-col-12">
                    <div class="grid-col-fill"></div>
                    <div class="tablet:grid-col-3 desktop:grid-col-4 margin-y-1">
                        <a href="https://www.gsa.gov/" aria-label="General Services Administration" target="_blank">
                        {% asset logos/gsa-logo.png alt="General Service Administration"
                        class="usa-footer__logo-img margin-right-1" width="42" valign="middle" %}General Services Administration </a>
                    </div>
                    <div class="tablet:grid-col-3 margin-y-1">
                        <a href="https://www.access-board.gov/" target="_blank" aria-label="US Access Board">
                        {% asset logos/seal-usab.png alt="US Access Board"
                        class="usa-footer__logo-img margin-right-1" width="42" valign="middle" %}US Access Board </a>
                    </div>
                    <div class="grid-col-fill"></div>
                </div>
            </div>
        </div>
    </div>
</footer>
