{% comment %}
This appears at the top of the page to provide the site title and link to the
GitHub repository.
{% endcomment %}

<div id="header-508"></div>
<section aria-label="Page Banner" class="usa-graphic-list usa-section sml-margin bg-gradient landing-page-banner">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet: grid-col">

                <span class="banner-title-color font-sans-lg margin-bottom-0">
                    ICT Baseline Alignment Framework
                </span>
        <br>

        <h1 class="text-white font-sans-xl margin-top-0 margin-bottom-0">
          {{ page.title }}
        </h1>

      </div>
    </div>
  </div>
</section>