{% comment %}
This appears at the top of the page to provide the site title and link to the
GitHub repository.
{% endcomment %}

<div id="header-508" class="section508-external-block"></div>
<!-- Header with skip links and GitHub repository link-->
<header class="navbar navbar-dark bg-dark flex">
    <a href="#main-content" id="skipNavLink" class="visually-hidden visible-when-focused bypass-block-link" tabindex="1">Skip to Content</a>
    <a href="#secnav" id="skipNavLink" class="visually-hidden visible-when-focused bypass-block-link" tabindex="1">Skip to Page Table of Contents</a>
    <a class="navbar-brand d-md-none btn btn-dark mr-1" href="javascript:void(0)" onclick="sidebarOpenClose()" aria-label="Open/Close Nav Menu" id="openCloseMenu" aria-expanded="false" aria-haspopup="true" aria-controls="site-nav"><i class="fa fa-bars"></i></a>
    <a href="https://github.com/Section508Coordinators/baselinealignment" class="navbar-brand ml-auto order-1 order-md-2 btn btn-dark m-0"><i class="fa fa-github" aria-label="Open Repository in GitHub"></i></a>
    <span class="navbar-link text-white" id="nav-title"><span class="d-none d-md-inline">ICT Accessibility Testing </span>Baseline Alignment Framework</span>
</header>