<div class="usa-logo site-logo" id="extended-logo"> 
  
  <div class="display-flex flex-align-center">
    <div class="star-logo-box">
      {% asset logos/gsa-logo.png alt="General Service Administration" valign="middle" %}
    </div>
    <div>
      <div aria-hidden="true" class="site-title-short">Baseline Alignment</div>
      <div class="site-title margin-left-1 margin-right-1">Baseline Alignment Framework</div> 
      <div class="site-subtitle margin-left-1 margin-right-1">Setting the bar for accessibility testing</div>
    </div>
    <div class="star-logo-box">
      {% asset logos/usaccess.png alt="U.S. Access Board" valign="middle" %}
    </div>
  </div>
</div>
