{% comment %}
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml
where we provide an easy way to manage your navigation system
{% endcomment %}

{% if page.sidenav == true or page.layout == "testcase" %}
    <a class="usa-skipnav" href="#main-content">Skip to secondary navigation</a>
    <a class="usa-skipnav" href="#content-section">Skip to main content</a>
    {% else %}
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% endif %}
<button id="backtotop" title="Go to top" style="display: none">˄ Top</button>

<header class="usa-header usa-header--extended" role="banner">
  <div class="usa-navbar">
    {% include logo.html %}
    <button class="usa-menu-btn right-auto">Menu</button>
  </div>
  <nav role="navigation" class="usa-nav" aria-label="Primary Site Navigation">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">{% asset close.svg alt="close" %}</button>
      <ul class="usa-nav__primary usa-accordion">        
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link{% if page.url == '/' %} usa-current{% endif %}"
            href="{{site.baseurl}}/"><span>Home</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link{% if page.url contains '/contributing/' %} usa-current{% endif %}"
          href="{{site.baseurl}}/contributing/"><span>Contributing</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link{% if page.url contains 'testcases' or page.url contains 'test_cases' %} usa-current{% endif %}"
            href="{{site.baseurl}}/testcases/"><span>Test Cases</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link"
            href="https://ictbaseline.access-board.gov/"><span>ICT Baseline (external)</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link"
            href="https://section508.gov/"><span>Section508.gov</span></a>
        </li>
        <!-- insert Verify Alignment link once page is available 
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link{% if basedir == linkdir %} usa-current{% endif %}"
            href="{{site.baseurl}}/align/"><span>Verify Alignment</span></a>
        </li>
      -->
      </ul>
    </div>
  </nav>
</header>