<header class="usa-header usa-header--extended baseline-menu">
  <nav aria-label="Primary site navigation" class="usa-nav site-nav sticky" id="site-nav">
    <div class="usa-nav__inner site-nav__inner">
      <button class="usa-nav__close"><img alt="close" src="https://www.section508.gov/assets/img/close.svg"></button>
      <!-- Desktop nav -->
      <ul class="usa-nav__primary usa-nav__primary--desktop usa-accordion">
        {% for nav_item in site.primary_navigation %}
        <li class="usa-nav__primary-item"><a
            href="{% if nav_item.ext == true %}{{ nav_item.url }}{% else %}{{ nav_item.url | prepend: site.baseurl }}{% endif %}"
            data-page-url="{{ page.url }}"
            data-nav-item-url="{{ nav_item.url }}"
            class="usa-nav__link{% if page.url == nav_item.url %} usa-current{% endif %}"
            aria-label="{{ nav_item.name }} menu link"
            {% if nav_item.ext== true %}target="_blank" {% endif %}>{{
          nav_item.name }}</a></li>

        {% endfor %}

      </ul>
      <!-- /Desktop nav -->
    </div>
  </nav>
</header>
