<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{page.title}}</title>

    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="/baselinealignment/assets/css/bootstrap.css">-->
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Section 508 external block and styles -->
    <script src="https://www.section508.gov/assets/js/external-508-blocks.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.section508.gov/assets/css/external-blocks.css">
    <link rel="stylesheet" type="text/css" href="https://www.section508.gov/assets/css/index.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/baseline.css">
</head>