<!-- jQuery, Bootstrap JS (bundled with Popper) -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="/baselinealignment/assets/js/bootstrap.bundle.min.js"></script>

<!-- custom JS for sidbar flyover, TOC generation etc. -->
<script src="/baselinealignment/assets/js/baseline-align.js"></script>
<script src="https://www.section508.gov/assets/js/uswds.min.js" defer="defer"></script>
