.page-contents
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    #timer-div
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
        #timer-button
        {
            background-color: #005ea2;
            color: white;
            border-radius: 5px;
            border: 0px;
            width: auto;
            height: 35px;
            p 
            {
                margin: 3px;
                font-size: 13px;
                font-weight: 600;
            }
        }
        #timer-button:hover
        {
            cursor: pointer;
            background-color: #1a3b66;
            
        }
    }
    p
    {
        margin: 5px 0px;
        max-width: 1000px;
    }
    #puerto-rico
    {
        width: 370px;
        height: 250px;
    }
    #puerto-rico-flag
    {
        width: 250px;
        height: 150px;
    }
}

.button
{
    background-color: #005ea2;
    color: white;
    border-radius: 5px;
    border: 0px;
    width: auto;
    height: 35px;
    p 
    {
        margin: 3px;
        font-size: 13px;
        font-weight: 600;
    }
}
.button:hover
{
    cursor: pointer;
    background-color: #1a3b66;
    
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    background-color: #005ea2;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    button 
    {
        text-align: left;
        padding: 0;
        background-color: transparent;
        border: none;
    }
    a, button
    {
        cursor: pointer;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 550;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }
    a:hover, button:hover
    {
        background-color: #1a3b66;
    }
    .dropdown-menu
    {
        display: flex;
        justify-content: space-between;
        .expanded
        {
            display: none;
        }
        
    }
    .active 
    {
        .expanded
        {
            display: block;
        }
        .collapsed
        {
            display: none;
        }
    }
    .dropdown-container
    {
        flex-direction: column;
    }
  }
  
  .dropdown-container
  {
    display: none;
  }

