h2 {
  margin: 0px 0px;
  background-color: #E0E0E0;
  position: sticky;
  top: 43px;
}

h3 {
  margin: 16px 0px;
  background-color: #ECEFF1;
  position: sticky;
  top: 83px;
}

td {
  font-size:16px;
}

.tbright td {
  text-align: right;
}

table, th, td {
  font-family: calibri;
  border: 2px solid black;
  padding: 3px;
  border-collapse: collapse;
  }

th {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  background-color: #E3F2FD;
}

.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

#skip a {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

#skip a:focus {
position:static;
width:auto;
height:auto;
} 

a:focus {
  outline: dotted thick !Important;
  outline-color: invert !Important;
  outline-offset: -1px !Important;
}

code {
  background: #FAFAFA;
  font-family: Courier, monospace;
  border: dotted thin
}

caption {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}
strong {
  text-transform: uppercase;
  text-weight: bold;
}
